TgcViewer\AlumnoEjemplos\obj
*.dll
*.pdb
TgcViewer/AlumnoEjemplos/obj/Debug/AlumnoEjemplos.csproj.FileListAbsolute.txt
TgcViewer/AlumnoEjemplos/obj/Debug/AlumnoEjemplos.csprojResolveAssemblyReference.cache
TgcViewer/TgcViewer.v12.suo